body {
    background-color:pink;
    color:black;
    margin:5%;
    line-height:1.5;
}

h1 {
    text-align:center;
    font-size:40px;
}

.centerMe {
    text-align:center;
}

h3 {
    margin-bottom: 5px;
    font-size:30px;
}

ul {
    margin-left:10%;
    margin-right:10%;
}

.main-button {
    width:200px;
    margin:20px;
    display:inline-block;
}


#kapitan, #technik, #lekar, #kapitanLogin {
    display:none;
}

#sklady, #komunikace, #skener, #rozkazy,
#diagnostikaLodi, #nastaveniSystemu, #lodniDokumentace,
#analyzaVzorku, #prvniPomoc, #lekarskeZpravy {
    display:none;
}

div, p, li, button, span {
    font:verdana;
    font-size:20px;    
}

table{
    margin-left:auto; 
    margin-right:auto; 
}

.unsolvedError {
    background-color: red;
}

.solvedError {
    background-color: green;
}

.error {
    margin: 2px 0;
    padding: 5px;
}

.errorTitle {
    font-weight: bold;
}

#kapitanskyPristup {
    background-color: yellowgreen;
    transition-property: background-color;
    transition-duration: 1.5s;
}

#kapitanskyPristup:hover {
    background-color: yellow;
}

#technickyPristup {
    background-color: lightblue;
    transition-property: background-color;
    transition-duration: 1.5s;
}

#technickyPristup:hover {
    background-color: blue;
}

#lekarskyPristup {
    background-color: white;
    transition-property: background-color;
    transition-duration: 1.5s;
}

#lekarskyPristup:hover {
    background-color: red;
}